body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}
.line{
  border: 1px solid #ff0000
}
img{
  width:100%;
  height:100%;
  cursor: pointer;
}
.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
li{
  list-style: none;
  margin: 3px 0;
}
audio{
  width: 100%
}
.simLine{
  border: .5px solid #888888
}
.grid-5{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-items: center;
}
.grid-4{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
}
.grid-2{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}
